.container {
    width: 218px;
    height: 32px;
    border: 1.2px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 6px;
    opacity: 1;
    box-sizing: border-box;
}

/* Burger icon */
.icon {
    background-color: #FFE6CC;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    width: 32;
    height: 32;
    top: 16px;
    left: 1183px;
    opacity: 1;

}

/* Text */
.name {
    font-size: 13px;
    color: #1F384C;
    white-space: nowrap;
}

/* Arrow */
.arrow {
    font-size: 12px;
    color: #1F384C;
    margin-right: auto;
}

/* Notification */
.notification {
    position: relative;
}

/* Red dot */
.badge {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 6px;
    height: 6px;
    background: #ff4d4f;
    border-radius: 50%;
}