.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #DBE5EB;
    color: #fff;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.image {
    border-radius: 100%;
    object-fit: cover;
}

.title {
    font-size: 14px;
    font-weight: 500;
    color: #273240;
}

.price {
    font-size: 13px;
    color: #b0b0b0;
}