.legendItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.text {
    font-size: 12px;
    color: #9ca3af;
    /* light gray */
}