.appLayout {
    display: flex;
    min-height: 100vh;
    /* FULL HEIGHT */
    background: #f6f7fb;
}

/* LEFT SIDEBAR */
.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}